@font-face {
  font-family: "Droid";
  src: url("../src/fonts/DroidSansMonoSlashed.ttf");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

body,
h3 {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Droid", sans-serif;
}
